<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Learnovation</title>

        <!--Fonts-->
        <!--<link href="" rel="stylesheet" />-->
    </head>
    <header>
        <div class="site_name">
            <h1>Learnovation</h1>
        </div>
        <nav id="nav-bar">
            <ul>
                <li><a href="Page" class="nav-link">Page</a></li>
                <li><a href="Page" class="nav-link">Page</a></li>
                <li><a href="Page" class="nav-link">Page</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="about_section">
            <h1>About</h1>
            <h2>Subheading for description or instruction</h2>
            <p></p>
            <p></p>
        </div>
        <div class="image_pic">
            <img src="">
        </div>




    </body>
</html>