<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Learnovation</title>

        <!--Fonts-->
        <!--<link href="" rel="stylesheet" />-->
    </head>
    <header>
        <div class="site_name">
            <h1>Learnovation</h1>
        </div>
        <nav id="nav-bar">
            <ul>
                <li><a href="Page" class="nav-link">Page</a></li>
                <li><a href="Page" class="nav-link">Page</a></li>
                <li><a href="Page" class="nav-link">Page</a></li>
                <li><input id="submit" type="button" value="Button"></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="about_section">
            <h1>About</h1>
            <h3>Subheading for description or instruction</h3>
            <p>Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:</p>
            <p>Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.</p>
        </div>
        <div class="image_pic">
            <img src="" alt="About picture" width="" height="">
        </div>
        <div>
            <ul>
                <li><b>Topic</b></li> <!--Remove bullet points-->
                <li>Topic</li>
                <li>Topic</li>
                <li>Topic</li>
            </ul>
        </div>
    <footer>
        <h1>Learnovation</h1>
        <div class="image_pic">
            <img src="" alt="Social media icon" width="" height="">
            <img src="" alt="Social media icon" width="" height="">
            <img src="" alt="Social media icon" width="" height="">
            <img src="" alt="Social media icon" width="" height="">
        </div>
        <ul>
            <li><b>Topic</b></li> <!--Remove bullet points-->
            <li>Topic</li>
            <li>Topic</li>
            <li>Topic</li>
        </ul>
        <ul>
            <li><b>Topic</b></li> <!--Remove bullet points-->
            <li>Topic</li>
            <li>Topic</li>
            <li>Topic</li>
        </ul>
    </footer>




    </body>
</html>