/*General style*/
* {
  margin: 0;
  font-family: 'Lato', sans-serif; /*Sets the font for the entire page*/
}

/*Main style*/
main {
  padding: 0px;
  font-family: 'Open Sans';
  font-size: 20pt;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header-img {
  padding: 0;
}

.about-section{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  padding: 20px;
  margin: 10px 100px 20px 100px;
  align-items: center;
}

hr {
  border: none;
  height: 1px;
  width: 110%;
  background-color: #D9D9D9;
  margin: 20px 0; /* Add some margin for spacing */
}

.proj-showcase {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  margin-top: 40px;
}

.img-bottom {
  width: 620px;
  height: 317px;
}

.text-boxes {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.main-text-box {
  background-color: #CEE1FC;
  width: 250px;
  height: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  flex: 1;
  align-content: space-around;
  align-items: center;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: bold;
}

