/*General style*/
*{
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*Header style*/
header {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 0;
  font-family: "Lato";
}

.header-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.header-link{
  color: #333434;
}

.site-name {
  display: flex;
}

.header-title {
  color: #5C83BF;  
}

.header-list {

  align-content: space-between;
  align-items: center;
}

.signup-button {
  background-color: #7cadf8;
  border: none;
  color: white;
  padding:10px 20px;
  text-align: center;
  border-radius: 20px;
}

/*Main style*/
.main-text-box {
  background-color: #CEE1FC;
  width:200px;
  height: 25px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-family: "Open Sans";
}

/*Footer style*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #5C83BF;
  color: #F1F1F2;  
}

.slogan-info-media {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.social-icons {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.footer-menu {
  color: #333434;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-link {
  color: #333434;
}