  .contact-header h1 {
    color: black; /*Sets the text color to black*/
    text-align: center; /*Aligns the text to the center*/
  }


  .contact-header-img{
    margin-right: -.5rem;
    margin-left: -1rem;
  }


  .messages {
    list-style-type: none;
    padding: 0;
}
  .message {
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      transition: opacity 1s ease-in-out;
  }
  .message.success {
      background-color: #dff0d8;
      color: #3c763d;
      border: 1px solid #d6e9c6;
  }


  /*Controls the contact info and the form*/
  .contact-body-container{
    padding: 70px;
    display: flex;
    gap: 50px;
    justify-content: center;
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
  }


  .contact-info-box{
    width: 450px;            /* Width of the box */
    height: 350px;           /* Height of the box */
    background-color: #5C83BF; 
    color: white;             
    border-radius: 15px;     /* Rounded corners (optional) */
    /*margin-top: 20px;        /* Spacing between boxes */
    display: flex;
  
  }

  .contact-info h2{
    margin-left:30px;
  }

  .contact-info p{
    margin-left: 30px;
  }

  /*Edits the form container*/
  .contact-form-box {
    width: 450px;            /* Width of the box */
    height: 350px;           /* Height of the box */
    color: black;       
  }

  /*Edits the actual contact form*/
  .input-line{
    border:none;
    outline: none;
    border-bottom: 1px solid black; /* Add bottom border */
    width: 40%;
  }

  .name-row{
    display: flex;
    gap: 130px;
    font-size: 20px;
    padding-bottom: 20px;
    /*margin: 20px;*/
  }

  .name-input{
    display: flex;
    gap: 44px;
    padding-bottom: 20px;
  }




  .email-phone-row{
    display: flex;
    gap: 177px;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
  }

  .email-phone-input{
    display: flex;
    gap: 44px;
    padding-bottom: 20px;
  }

  .message-row{
    display: flex;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
  }

  .message-row-input{
    display: flex;
    padding-bottom: 20px;
  }

  .input-line-message{
    border:none;
    outline: none;
    border-bottom: 1px solid black; /* Add bottom border */
    width: 90%;
    margin-top: 15px;
  }

  .send-message{
    /*justify-content: right;*/
    display: grid;
    justify-content: end; /* Aligns the button to the right */
    margin-right: 40px;
    margin-top: 32px;
  }

  .send-message-button{
    /*text-align: right;*/
    background-color: lightskyblue;
    border: none;
    color: white;
    padding:10px 20px;
    border-radius: 10px;
    pointer-events: auto; /* Enable button */
    cursor: pointer; /* Add cursor on hover */
  }

  .swal-button{
    color: white;
    background-color:#5C83BF;
  }





  /*Edits the line between contact-body-container*/
  .line{
    border: none; /* Remove default border */
    height: .50px; /* Set the height of the line */
    background-color: lightskyblue;
    margin: 20px auto; /* Add some margin for spacing */
    width: 85%; /* Set the width of the line */
  }



  /*Newsletter + Button*/
  .newsletter-container{
    text-align: center;
  }

  .newsletter-container p {
    font-weight: bold;
  }

  .newsletter-container button {
    background: linear-gradient(to right,#a75daa,#ac5ea7,#bc6298,#d26988,#da6a7f,#e16d78, #e87071);
    border: none;
    color: white;
    padding:10px 20px;
    text-align: center;
    border-radius: 8px;
    width: 550px; /* Adjust width as needed */
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 30px;
  }



  /*Footer style*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #5C83BF;
  color: #F1F1F2;
}

.slogan-info-media {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
  margin: 30px 0 20px 0;
}

.slogan-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  margin: 30px 0 0 0;  
  font-weight: 100;
}

.span-slogan {
  font-size: 15pt;
  font-weight: 500;
}

.span-info {
  font-size: 10pt;
  font-weight: 300;
}

.social-icons {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 0;
}

.footer-img {
  margin-top: 10px;
}

.footer-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 40px 0 auto 0;
  gap: 20px;
  margin: 65px 0 20px 0;
  line-height: 40px;
}

.footer-link-head{   /*Makes the fist itme of each column bold*/
  color: #F1F1F2;
  font-weight: bold;
}

.footer-link {
  color: #F1F1F2;
}

@media only screen and (max-width: 430px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  }
