<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Learnovation</title>
        <link rel="stylesheet" type="text/css" href="../static/css/about.css">
        <!--Main Fonts-->
        <!--Lato-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!--Open Sans-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">       
        <!--Alternative Fonts-->
        <!--Inter-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!--Montserrat-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!--PT Sans-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <!--Source Sans Pro-->
    </head>
    <body>
        <header>
            <div class="site-name">
                <img src="../static/images/la-logo.png" alt="logo" width="81px" height="81px">
                <h1 class="header-title">Learnovation Academy</h1>
            </div>
            <div class="top-nav">
                <nav class="nav-bar">
                    <ul class="header-list">
                        <li>
                            <a href="About" class="header-link">About</a>
                            <a href="Courses" class="header-link">Courses</a>
                            <a href="Login" class="header-link">Login</a>
                            <input id="submit" type="button" value="Sign up" class="signup-button">
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="about-section">
                <p><b>Mission Statement:</b> We envision a future where every individual, regardless of age or background, 
                    thrives with the knowledge, skills, and resilience for lifelong success.</p>
                <hr width= 90%>
                <p>Learnovation Academy is an innovative educational initiative aimed at empowering 
                    16-25-year-old lower-income students with the skills and knowledge they need 
                    to succeed in a rapidly changing world. This project focuses on providing accessible, 
                    high-quality education that bridges the gap between traditional learning and practical, 
                    career-oriented training. </p>
            </div>
            <div>
                <img src="" alt="about-bottom">
                <!--Text box: "Team of 10+ volunteers"-->
                <!--Text box: "Hackathon Project"-->
            </div>
        </main>
        <footer>
            <div class="slogan-info">
                <h1>Breaking boundaries</h1>
                <h3>Learnovation Academy 2024 ©</h3>
            </div>
            <div class="social-icons">
                <img src="../static/images/fb_icon.svg" alt="Facebook" width="27" height="27">
                <img src="../static/images/li_icon.svg" alt="LinkedIn" width="27" height="27">
                <img src="../static/images/x_icon.svg" alt="X" width="27" height="27">
            </div>
            <img src="../static/images/la-logo.png" alt="logo" width="60px" height="60px">
            <div class="footer-about">
                <ul>
                    <li><a href="About">About</a></li>
                    <li><a href="Who we are">Who we are</a></li>
                    <li><a href="Contact Us">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-joinus">
                <ul>
                    <li><a href="Join Us">Join Us</a></li>
                    <li><a href="Login">Login</a></li>
                    <li><a href="Signup">Signup</a></li>
                </ul>
            </div>
            <div class="footer-explore">
                <ul>
                    <li><a href="Explore">Explore</a></li>
                    <li><a href="Courses">Courses</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>