{% extends 'headerfooterbase.html' %}

<!--Get's include in the base header and footer to get styles-->
{% block extra_head %}
<link rel="stylesheet" href="../static/css/contact.css">
{% endblock %}

{% block content %}
<main>
    <div class="contact-header">
        <h1>Contact Us</h1>
    </div>
    

    <div class="contact-header-img">
        <img src="../static/images/contact-banner.png" alt="contact banner" width="100%" height="30%">
    </div>


    <div class="contact-body-container">
        <div class="contact-info-box">
            <div class="contact-info">
                <h2>Contact Information</h2>
                <p>
                    We value your feedback and inquiries. Whether you<br>
                    have a question about our services, need
                    assistance,<br> or want to share your thoughts, we're<br>
                    here to help. Please use the following Information,<br>
                    to get in touch with us:
                </p>
                <p>
                    <img src="../static/images/phone-icon.png" alt="phone" width="20" height="20">
                    <span>    +1 979 567 8990</span>
                </p>
                <p>
                    <img src="../static/images/mail-icon.png" alt="email" width="20" height="20">
                    <span>info@learnovationacademy.com</span>
                </p>
            </div>
        </div> <!--End of contact-info-box-->


        <div class="contact-form-box">
            <div class="contact-form">
                <!--The action specifies where the form data should be sent when submitted-->
                <form method="post">
                    {% csrf_token %}
                    <div class="name-row">
                        <label for="firstName">First Name</label>
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="name-input">
                        <input type="text" class="input-line" id="firstName" name="firstName" required>
                        <input type="text" class="input-line" id="lastName" name="lastName" required>
                    </div>
                    <div class="email-phone-row">
                        <label for="email">Email</label>
                        <label for="phoneNumber">Phone Number</label>
                    </div>
                    <div class="email-phone-input">
                        <input type="email" class="input-line" id="email" name="email" required>
                        <input type="tel" class="input-line" id="phoneNumber" name="phoneNumber" required>
                    </div>
                    <div class="message-row">
                        <label for="message">Message</label>
                    </div>
                    <div class="message-row-input">
                        <input id="message" class="input-line-message" name="message" placeholder="Write your message.." required>
                    </div>
                    <div class="send-message">
                        <button type="submit" class="send-message-button">Send Message</button>
                    </div>
                </form>

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                {% if messages %}
                    {% for message in messages %}
                        <script>
                            Swal.fire({
                                icon: 'success',
                                title: 'Thank You',
                                text: '{{ message }}',
                                confirmButtonColor: '#5C83BF',
                            });
                        </script>
                    {% endfor %}
                {% endif %}
            </div> <!--End of contact-form-->
        </div> <!--End of contact-form-box-->
    </div> <!--End of contact-body-container-->

    
    <hr class="line">
  

    <div class="newsletter-container">
        <h1>Join Our Newsletter</h1>
        <p>Subscribe to the Learnovation newsletter. Get the latest courses and updates!</p>
        <button class="sub-button">Subscribe</button>
    </div>
</main>
{% endblock %}