<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../static/images/la-logo.png" type="image/png" sizes="320x320">
        <title>Learnovation</title>
        <link rel="stylesheet" type="text/css" href="../static/css/contact.css">
        <!--Main Fonts-->
        <!--Lato-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!--Open Sans-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">       
        <!--Alternative Fonts-->
        <!--Inter-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!--Montserrat-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!--PT Sans-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <!--Source Sans Pro-->
    </head>

    <body>
        <header>
            <div class="site-name">
                <img src="../static/images/la-logo.png" alt="logo" width="70px" height="70px">
                <h2 class="header-title">Learnovation Academy</h2>
            </div>
            <div class="top-nav">
                <nav class="nav-bar">
                    <ul class="header-list">
                        <li>
                            <a href="{% url 'about' %}" class="header-link">About</a>
                            <a href="Courses" class="header-link">Courses</a>
                            <a href="Login" class="header-link">Login</a>
                            <input id="submit" type="button" value="Sign up" class="signup-button">
                        </li>
                    </ul>
                </nav>
            </div>
        </header>



        <main>
            <div class="contact-header">
                <h1>Contact Us</h1>
            </div>
            
            <div class="contact-header-img">
                <img src="../static/images/contact-banner.png" alt="contact banner" width="100%" height="30%">
            </div>

            <div class="contact-body-container">
                <div class="contact-info-box">
                    <div class="contact-info">
                        <h2>Contact Information</h2>
                        <p>
                            We value your feedback and inquiries. Whether you<br>
                            have a question about our services, need
                            assistance,<br> or want to share your thoughts, we're<br>
                            here to help. Please use the following Information,<br>
                            to get in touch with us:
                        </p>
                        <p>
                            <img src="../static/images/phone-icon.png" alt="phone" width="20" height="20">
                            <span>    +1 234 567 890</span>
                        </p>
                        <p>
                            <img src="../static/images/mail-icon.png" alt="email" width="20" height="20">
                            <span>demo@gmail.com</span>
                        </p>
                    </div>
                </div>
                <!--The form should go here -->
                <div class="contact-form-box">
                    <div class="contact-form">
                        <form method="post" action="">
                            {% csrf_token %}
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="firstName" required>

                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" required>

                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" required>

                            <label for="phoneNumber">Phone Number</label>
                            <input type="tel" id="phoneNumber" name="phoneNumber">

                            <label for="message">Message</label>
                            <input id="message" name="message" placeholder="Write your message.." required>

                            <button type="submit">Send Message</button>
                        </form>

                        


                    </div>
                </div>
            </div>

            
            <hr class="line">
          

            <div class="newsletter-container">
                <h1>Join Our Newsletter</h1>
                <p>Subscribe to the Learnovation newsletter. Get the latest courses and updates!</p>
                <button class="sub-button">Subscribe</button>
            </div>
        </main>
    </body>




    <footer>
        <div class="slogan-info-media">
            <div class="slogan-info">
                <h1>Breaking boundaries</h1>
                <h3>Learnovation Academy 2024 ©</h3>
            </div>
            <div class="social-icons">
                <img src="../static/images/fb_1.png" alt="Facebook" width="27" height="27">
                <img src="../static/images/in.png" alt="LinkedIn" width="27" height="27">
                <img src="../static/images/twitterx.png" alt="X" width="27" height="27">
            </div>
            <div class="footer-img">
            <img src="../static/images/la-logo.png" alt="logo" width="60px" height="60px">
            </div>
        </div>
        <div class="footer-menu">
            <div class="footer-about">
                <ul>
                    <li><a href="{% url 'about' %}" class="footer-link">About</a></li>
                    <li><a href="Who we are" class="footer-link">Who we are</a></li>
                    <li><a href="{% url 'contact' %}" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-joinus">
                <ul>
                    <li><a href="Join Us" class="footer-link">Join Us</a></li>
                    <li><a href="Login" class="footer-link">Login</a></li>
                    <li><a href="Signup" class="footer-link">Signup</a></li>
                </ul>
            </div>
            <div class="footer-explore">
                <ul>
                    <li><a href="Explore" class="footer-link">Explore</a></li>
                    <li><a href="Courses" class="footer-link">Courses</a></li>
                </ul>
            </div>
        </div>



    </footer>


    
</html>