{% extends 'headerfooterbase.html' %}

<!--Get's include in the base header and footer to get styles-->
{% block extra_head %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}
<main id="main-container">
    <!-- Hero -->
    <section id="hero" class="img-align-container">
        <!-- Hero image -->
        <div class="hero-img-container">
            <img class="hero-img" src="../static/images/landing-page/Female-attending-online-classes.svg" alt="female attending online classes">
        </div>

        <!-- Hero text -->
        <div class="hero-text-container">
            <!-- Header text -->
            <div class="hero-text-header">
                <h1 class="hero-h1">Investing in Your Knowledge and Your Future</h1>
            </div>

            <!-- Subheader text -->
            <div class="hero-text-subheader">
                <p>Where we envision a future where every individual is granted a key to their success</p>
            </div>

            <!-- Hero vectors -->
            <div class="hero-vectors-container">
                <!-- Blue and purple sparkle -->
                <img class="hero-sparkle-1" src="../static/images/landing-page/hero-vectors/hero-sparkle-1.svg" alt="Vector of purple and blue sparkle">

                <!-- Blue sparkle -->
                <img class="hero-sparkle-2" src="../static/images/landing-page/hero-vectors/hero-sparkle-2.svg" alt="Vector of blue sparkle">
                
                <!-- Key -->
                <img class="hero-key" src="../static/images/landing-page/hero-vectors/hero-key.svg" alt="Vector of blue and purple key">
            </div>

            <!-- Contact button -->
            <div class="hero-button">
                <a href="{% url 'contact' %}" class="button button-contact">Contact</a>
            </div>
        </div>
    </section>
    
    <!-- Why Learnovation -->
    <section id="why-learnovation" class="why-learnovation-container full-width">
        <!-- Title -->
        <h1 class="why-learnovation-header">Why Learnovation Academy</h1>

        <!-- Icons -->
        <div class="icons-container">
            <!-- Self-paced learning -->
            <div class="self-learning-container">
                <!-- Img -->
                <img class="why-icon" src="../static/images/landing-page/why-learnovation-icons/self-paced-icon.svg" alt="Outline of computer monitor with teacher and presentation inside">
                
                <!-- Text -->
                <p class="icon-text">Self-Paced Learning</p>
            </div>
            
            <!-- Ease of finding... -->
            <div class="ease-container">
                <!-- Img -->
                <img class="why-icon" src="../static/images/landing-page/why-learnovation-icons/ease-icon.svg" alt="Outline of books with magnifying glass">
                
                <!-- Text -->
                <p class="icon-text">Ease of Finding Courses</p>
            </div>

            <!-- In-demand... -->
            <div class="in-demand-container">
                <!-- Img -->
                <img class="why-icon" src="../static/images/landing-page/why-learnovation-icons/in-demand-icon.svg" alt="Outline of computer monitor with graduation cap on top">
                
                <!-- Text -->
                <p class="icon-text">In-demand Careers</p>
            </div>
            
            <!-- Free learning -->
            <div class="free-learning-container">
                <!-- Img -->
                <img class="why-icon" src="../static/images/landing-page/why-learnovation-icons/free-learning-icon.svg" alt="Outline of computer monitor with open book inside">
                
                <!-- Text -->
                <p class="icon-text">Free Learning</p>
            </div>

            <!-- Close-knit... -->
            <div class="close-knit-container">
                <!-- Img -->
                <img class="why-icon" src="../static/images/landing-page/why-learnovation-icons/community-icon.svg" alt="Outline of computer monitor with an online meeting screen">                        
                
                <!-- Text -->
                <p class="icon-text">Close Knit Community</p>
            </div>

            <!-- Easy track... -->
            <div class="easy-track-container">
                <!-- Img -->
                <img class="why-icon" src="../static/images/landing-page/why-learnovation-icons/easy-track-icon.svg" alt="Outline of book with clock on top right corner">                                              
                
                <!-- Text -->
                <p class="icon-text">Easy Track of Progress</p>
            </div>
        </div>
    </section>

    <!-- Recommended courses -->
    <section id="recommended-courses" class="recommended-courses-container">
        <!-- Title -->
        <div class="img-align-container recommended-title-container">
            <!-- Section title -->
            <h1 class="recommended-title-text">Recommended Courses</h1>

            <!-- Down chevron -->
            <img src="../static/images/landing-page/down-chevron.svg" alt="Chevron pointing down">
        </div>
        
        <!-- Course cards -->
        <div class="content-row card-gap">
            <!-- Intro to Python -->
            <div class="course-card">
                <!-- Course image + overlay text -->
                <div class="course-img-container">
                    <!-- Course image -->
                    <img class="course-img" src="../static/images/landing-page/python.png" alt="sticky note with the word Python written and underlined">

                    <!-- Course overlay text -->
                    <p class="course-img-overlay course-img-overlay-main">Introduction to Python</p>
                    <p class="course-img-overlay course-img-overlay-sub">View Course</p>
                </div>

                <!-- Course info -->
                <div class="recommended-course-info">
                    <!-- Course price -->
                    <p class="recommended-pricing">Free</p>

                    <!-- Course title -->
                    <p class="recommended-course-title">Introduction to Python</p>

                    <!-- Rating + reviews -->
                    <div class="img-align-container recommended-rating-review">
                        <!-- Stars -->
                        <div class="content-row">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                        </div>
    
                        <!-- Reviews -->
                        <p class="recommended-reviews">(345 reviews)</p>
                    </div>

                </div>
                
                <!-- Start course -->
                <div class="start-course-button">
                    <a href="#" class="button button-start">Start Now</a>
                </div>
            </div>
            
            <!-- Intro to UX -->
            <div class="course-card">
                <!-- Course image + overlay text -->
                <div class="course-img-container">
                    <!-- Course image -->
                    <img class="course-img" src="../static/images/landing-page/ux.png" alt="sticky note with the word Python written and underlined">

                    <!-- Course overlay text -->
                    <!-- (note: This wasn't in the Figma, but I'm leaving it here just in case) -->
                    <!-- <p class="course-img-overlay course-img-overlay-main">Introduction to US Design</p>
                    <p class="course-img-overlay course-img-overlay-sub">View Course</p> -->
                </div>

                <!-- Course info -->
                <div class="recommended-course-info">
                    <!-- Course price -->
                    <p class="recommended-pricing">Free</p>

                    <!-- Course title -->
                    <p class="recommended-course-title">Introduction to UX Design</p>

                    <!-- Rating + reviews -->
                    <div class="img-align-container recommended-rating-review">
                        <!-- Stars -->
                        <div class="content-row">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gray-star.svg" alt="gray star">
                        </div>
    
                        <!-- Reviews -->
                        <p class="recommended-reviews">(167 reviews)</p>
                    </div>

                </div>
                
                <!-- Start course -->
                <div class="start-course-button">
                    <a href="#" class="button button-start">Start Now</a>
                </div>
            </div>

            <!-- Intro to Nursing -->
            <div class="course-card">
                <!-- Course image + overlay text -->
                <div class="course-img-container">
                    <!-- Course image -->
                    <img class="course-img" src="../static/images/landing-page/nursing.png" alt="female nurse torso">

                    <!-- Course overlay text -->
                    <p class="course-img-overlay course-img-overlay-main">Introduction to Nursing</p>
                    <p class="course-img-overlay course-img-overlay-sub">View Course</p>
                </div>

                <!-- Course info -->
                <div class="recommended-course-info">
                    <!-- Course price -->
                    <p class="recommended-pricing">$12.00</p>

                    <!-- Course title -->
                    <p class="recommended-course-title">Introduction to Nursing</p>

                    <!-- Rating + reviews -->
                    <div class="img-align-container recommended-rating-review">
                        <!-- Stars -->
                        <div class="content-row">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gold-star.svg" alt="gold star">
                            <img class="star" src="../static/images/landing-page/gray-star.svg" alt="gray star">
                        </div>
    
                        <!-- Reviews -->
                        <p class="recommended-reviews">(151 reviews)</p>
                    </div>

                </div>
                
                <!-- Start course -->
                <div class="start-course-button">
                    <a href="#" class="button button-start">Start Now</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}




