<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Learnovation</title>
        <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
        <!--Main Fonts-->
        <!--Lato-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!--Open Sans-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">       
        <!--Alternative Fonts-->
        <!--Inter-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!--Montserrat-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!--PT Sans-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <!--Source Sans Pro-->
    </head>
    <body>
        <header>
<!-- Change the header to add a profile picture of the user instead of the Sign up button -->
            <div class="header-text">
                <div class="site-name">
                    <img src="../static/images/la-logo.png" alt="logo" width="70px" height="70px">
                    <h2 class="header-title">Learnovation Academy</h2>
                </div>
                <div class="top-nav">
                    <nav class="nav-bar">
                        <ul>
                            <li class="header-list">
                                <a href="About" class="header-link">About</a>
                                <a href="Courses" class="header-link">Courses</a>
                                <img src="../static/images/bell-notification.svg" alt="notification buttom" class="notification-buttom">
                                <div class="user-menu">
                                   <img src="../static/images/emily-kara-pic.png" class="user-avatar">
                                   <div class="user-info">
                                    <span class="user-name">Emily Kara</span>
                                    <span class="user-title">UX Designer</span>
                                   </div>
                                </div>
                                <a href="Logout" class="header-link">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="search-box">
                <input id="search-box" type="text" placeholder="Search" class="textbox-search">                
            </div>
        </header>
        <main>
            <div class="welcome-banner">
                <span class="welcome-message">Welcome Back Emily!</span><!--"Emily" should be replaced with a variable, so it automatically changes according to the user name-->
                <span class="path-message">Your career path is __________.</span>
            </div>
            <div class="blue-background">
                <div class="upper-boxes">
                    <div class="personal-details-box">
                        <div class="box-header">
                            <span class="personal-details-title">Personal Details</span>
                            <img src="../static/images/pencil-icon.png" class="pencil-icon"><!--pencil-icon-->
                        </div>
                        <img src="../static/images/emily-kara-pic.png" class="emily-kara-pic" ><!--emily-kara-pic-->
                        <span class="profile-name">Emily Kara</span> <!--Here, instead of the name, there shoulde be a variable, so the name changes automaticaly.-->
                        <input id="share" type="button" value="Share Profile Link" class="share-profile-link"> <!--Check if the ID is correct/possible-->
                    </div>
                    <div class="project-work-history">
                        <div class="projects-box">
                            <div class="box-header">
                                <span class="projects">Projects</span>
                                <img src="../static/images/pencil-icon.png" class="pencil-icon" width="10px" height="10px"><!--pencil-icon-->
                            </div>
                            <input id="projects" type="text" placeholder="Showcase your projects here" class="textbox-main"> <!--Text box or dropdown menu?-->
                        </div>
                        <div class="work-history-box">
                            <div class="box-header">
                                <span class="work-history">Work History</span>
                                <img src="../static/images/pencil-icon.png" class="pencil-icon" width="10px" height="10px"><!--pencil-icon-->
                            </div>
                            <input id="work-history" type="text" placeholder="Add work experience here" class="textbox-main"> <!--Text box-->
                        </div>
                    </div>
                </div>
                <div class="education-box">
                    <div class="box-header">
                        <span class="education">Education</span>
                        <img src="../static/images/pencil-icon.png" class="pencil-icon" width="10px" height="10px"><!--pencil-icon-->
                    </div>
                    <input id="education" type="text" placeholder="Add Education here" class="textbox-main"> <!--Text box-->
                </div>
            </div>
        </main>
        <footer>
            <div class="slogan-info-media">
                <div class="slogan-info">
                    <span class="span-slogan">Breaking boundaries</span>
                    <span class="span-info">Learnovation Academy 2024 ©</span>
                </div>
                <div class="social-icons">
                    <img src="../static/images/fb_1.png" alt="Facebook" width="27" height="27">
                    <img src="../static/images/in.png" alt="LinkedIn" width="27" height="27">
                    <img src="../static/images/twitterx.png" alt="X" width="27" height="27">
                </div>
                <div class="footer-img">
                <img src="../static/images/la-logo.png" alt="logo" width="60px" height="60px">
                </div>
            </div>
            <div class="footer-menu">
                <div class="footer-about">
                    <ul>
                        <li><a href="{% url 'about' %}" class="footer-link-head">About</a></li>
                        <li><a href="Who we are" class="footer-link">Who we are</a></li>
                        <li><a href="{% url 'contact' %}" class="footer-link">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-joinus">
                    <ul>
                        <li><a href="Join Us" class="footer-link-head">Join Us</a></li>
                        <li><a href="Login" class="footer-link">Login</a></li>
                        <li><a href="Signup" class="footer-link">Signup</a></li>
                    </ul>
                </div>
                <div class="footer-explore">
                    <ul>
                        <li><a href="Explore" class="footer-link-head">Explore</a></li>
                        <li><a href="Courses" class="footer-link">Courses</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>