<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../static/images/la-logo.png" type="image/png" sizes="320x320">
        <title>Learnovation</title>
        <link rel="stylesheet" type="text/css" href="../static/css/signup.css">
        <!--Main Fonts-->
        <!--Lato-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!--Open Sans-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">       
        <!--Alternative Fonts-->
        <!--Inter-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!--Montserrat-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!--PT Sans-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <!--Source Sans Pro-->
    </head>

    <body>
        <header>
            <div class="site-name">
                <img src="../static/images/la-logo.png" alt="logo" width="70px" height="70px">
                <h2 class="header-title">Learnovation Academy</h2>
            </div>
            <div class="top-nav">
                <nav class="nav-bar">
                    <ul class="header-list">
                        <li>
                            <a href="{% url 'about' %}" class="header-link">About</a>
                            <a href="Courses" class="header-link">Courses</a>
                            <a href="Login" class="header-link">Login</a>
                            <input id="submit" type="button" value="Sign up" class="signup-button">
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <main>
            <div class="signup-header">
                <h1>Sign Up To Learnovation</h1>
            </div>
            <div class="wrapper">
                <form action="/sign-up" method="POST">
                    <div class="input-box">
                        <label for="name">FULL NAME</label>
                        <input type="text" id="name" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <label for="email">EMAIL</label>
                        <input type="text" id="email" placeholder="@email.com" required>
                    </div>
                    <div class="input-box">
                        <label for="password">PASSWORD</label>
                        <input type="password" id="password" placeholder="Create Password" required>
                    </div>
                    <div class="sign-in">
                        <button type="submit" class="signup-button">Sign up</button>
                    </div>
                </form>
                <div class="separator">
                    <hr><span>or</span><hr>
                </div>
            </div>
        </main>
    </body>
</html>